.form-container {
    background-color: aliceblue;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgb(44, 44, 44) 0px 3px 8px;
    text-shadow: 1px 1px 2px grey;
}

.benjamin {
    opacity: 0.07;
    margin-bottom: 20%;
}

.form{
    text-align: center;
    position: absolute;

    input {
        text-align: center;
        background-color: rgb(233, 233, 233);
        color: black;
        border: 1px solid lightgrey;
    }

    .input-field {
        background-color: rgb(233, 233, 233);
        color: black;
        border: 1px solid lightgrey;
    }

    option {
        background-color: aliceblue;
    }

    .submit {
        background-color: green;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        margin-top: 15px;
        color: white;
    }
}

button:hover {
    cursor: pointer;
    background-color: rgb(69, 104, 17);
}

button:active {
    background-color: green;
}

.submit:hover {
    cursor: pointer;
    background-color: grey;
}

.submit:active {
    background-color: green;
}

