.font {
    text-decoration: none;
    color:black;
    border: none;
    background-color: transparent;
    font-size: 7.8px;
    margin: 2px 7px;
    text-shadow: 1px 1px 2px grey;
}

.logo {
    
    text-decoration: none;
    color:black;
    border: none;
    background-color: transparent;
    font-size: 8px;
    margin: 2px 7px;
    text-shadow: 1px 1px 2px grey;
    text-decoration: underline solid green;
    font-weight: bold;
    
}

a {
    text-decoration: none;
}

.links {
    display: flex;
}

.container{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: rgb(44, 44, 44) 0px 3px 8px;
}

.font:active {
    text-shadow: none;
}

@media (width > 700px ) {
    .font{
        font-size: 9px;
    }
    .logo{
        font-size: 9px;
    }
}

@media (width > 1000px ) {
    .font{
        font-size: 15px;
    }
    .logo{
        font-size: 15px;
    }
}

