.font {
    text-decoration: none;
    color:black;
    border: none;
    background-color: transparent;
    font-size: 12px;
    margin: 2px 7px;
    text-shadow: 1px 1px 2px grey;
}

a {
    text-decoration: none;
}

.links {
    display: flex;
}

.container{
    display: flex;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}